@{
    ViewBag.Title = "Federated Oders Administration";
}

<h1>Federated Orders Utility Page</h1>

<div id="federatedOrders-admin">
    <div>
       <a href="~/FederatedOrders/Address/12345"><h2>Manage Addresses</h2></a>
    </div>
    <div>
        <h2>Manage Orders</h2>
    </div>
</div>
