@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>Featured Content</h1>
        </div>
    </section>
}

