body {
    width: 790px;
    font-family: segoe ui;
    margin: 5px auto;
}
#body h1
{
    border-bottom: none;
    font-size: 2em;
}
#body h2 {

}
#header
{
    width: 100%;
    margin-top: 10px;
    position: relative;
    /*outline: 1px dashed red*/
}
#pfp-header-top {
    height: 30px;
    width: 502px;
    float: right;
    background: url("/Images/pfp-header-top.gif");
}
#pfp-header-bottom {
    height: 50px;
    width: 780px;
    float: right;
    background: url("/images/pfp-header-bottom.gif");
}
#pfp-logo {
    height: 43px;
    width: 207px;
    margin: 3px auto auto 10px;
    float: left;
    /*background: url("/images/pfp-logo.gif");*/
}
nav {
    width: 500px;
    height: 50px;
    float: right;    
    margin: 0;
    padding: 0;
}
#pfp-main-nav {
    margin: 0 0 0 2px;
    padding: 0;    
    width: 100%;
    height: 48px;
    float: left;
}
ul#pfp-main-nav li {
    display: inline-block;  
    float: left;  
    margin: 0;
    padding: 0 10px 0 0;    
}
    ul#pfp-main-nav li.active {
        border-bottom: 3px solid yellowgreen;
    }
    ul#pfp-main-nav li a {
        display: block;
        height: 34px;
        margin: 11px 0 0;
        padding: 1px 0 0 3px;
        vertical-align: top;
        border-left: 1px solid silver;
        color: #fff;
        font-size: .7em;
        text-align: center;
        text-decoration: none;
    }
#header div.logged-in
{
    width: 95%;
    height: 50px;
    font-weight: bold;
}
#header div.logged-in .welcome
{
    float: left;
    width: 200px;
}
#header div.logged-in ol
{
    float: right;
    list-style-type: none;
}
#header div.logged-in ul li
{
    float: left;
    
}

#body
{ 
    width: 100%;
    margin: 100px 0;
}
#pfp-sidebar {
    float: left;
    width: 300px;
    height:300px;    
    margin-right: 5px 10px 1px 5px;
    font-size: .8em;
}
#content-section {
    float: left;
    font-size: .8em;
}
#body table
{
    font-size: 130%;

}
#samples-container
{
    width: 520px;
    position: relative;
}
    #samples-container p:first-child
    {
        width: 500px;
        height: 20px;
        text-align: right;
        font-weight: bold;
    }
#samples-list
{
    width: 500px;
    height: 50px;
    padding: 3px 2px;
    border-top: 1px solid silver;
    position: relative;
}
    #samples-list ol
    {
        padding: 0;
        list-style-type: none;
        width: 95%;
    }
    #samples-list ol li
    {
       width: 100%;
    }
        #samples-list ol li.product-name
        {
            font-weight: bold;
            font-size: 120%;
            text-align: left;
            width: 100px;
        }
    #samples-list p:nth-child(1)
    {
        float: left;
    }
    #samples-list p:nth-child(2)
    {
        float: right;
        width: 20px;
        height: 30px;
        font-weight: bold;
        text-align: right;
    }
    #samples-list:last-child
    {
        border-bottom: 1px solid silver;
    }

#federatedOrders-admin 
{
    width: 700px;
    height: 400px;
    padding: 5px 5px;
}
    #federatedOrders-admin div {
        float: left;
        width: 45%;
        height: 207px;
        border: 1px solid silver;
        margin: 12px 2px 2px 2px;
        padding: 8px 8px;
        border-radius: 6px 6px;
    }
    #federatedOrders-admin div:hover {
        background: silver;
        color: green;
        border: 1px solid yellowgreen;
    }
        #federatedOrders-admin div h2 {
            font-family: Segoe UI Light;
            font-size: 3.5em;
            color: #333;
            text-align:center;
            text-shadow: 10px 10px 2px silver;
        }
fieldset.two-column li label:first-child {
    width: 100px;
    color: teal;
    margin-right: 7px;
    text-align: right;
    display: inline-block;
}
fieldset.two-column li label:nth-child(2) {
    width: 200px;    
    color: #808080;
    text-align: left;
    display: inline-block;
}