<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/samples.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
    
        <div id="header">
            <header>
                <div>
                <ol>
                    <li>Customer Service</li>
                    <li>Contact Us</li>
                    <li>About Us</li>
                </ol>
                </div>
                <div id="logo">Web Samples Store</div>
            </header>
        </div>   
                       

    <div id="body">

         @RenderSection("featured", required: false)

        <div id="content-section">
            <section>
                @RenderBody()
            </section>
        </div>
    </div>

    <footer>

    </footer>

</body>
</html>
